[data-user-color-scheme='dark'] .most-read-title {
    color: #dddddd;
}

[data-user-color-scheme='dark'] .gt_selected_btn {
    color: #ffffff;
}

[data-user-color-scheme='dark'] .container-background {
    background: #000000;
    color: #FFFFFF;
}